In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(r"C:/Users/DELL LATITUDE E7450/Desktop/zakaria_ML/music.csv")
#df

In [4]:
df.shape

(18, 3)

In [5]:
# we are going to split the data

In [6]:
music_data=df

In [7]:
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [8]:
X= music_data.drop( columns = ['genre'])
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [9]:
Y= music_data['genre']
Y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [13]:
X.isnull().sum()

age       0
gender    0
dtype: int64

In [22]:
print(X.shape)
print(Y.shape)

(18, 2)
(18,)

In [23]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X,Y)
Predictions = model.predict([[21,1],[22,0] ])
predictions

C:\Users\DELL LATITUDE E7450\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([3])

In [35]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

# Encode the target
le = LabelEncoder()
Y_encoded = le.fit_transform(Y)

# Create and train the model
model = DecisionTreeClassifier()
model.fit(X, Y_encoded)

# Optional: predict a new sample
sample = [[28]]  # age=28
predictions = model.predict([
    [21, 1],
    [22, 0]
])

# Convert back to genre names
predicted_genres = le.inverse_transform(predictions)
print(predicted_genres)

#pred_genre = le.inverse_transform(pred)
#print(pred_genre)

['HipHop' 'Dance']

C:\Users\DELL LATITUDE E7450\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [38]:
from sklearn.metrics import accuracy_score
# Encode target
le = LabelEncoder()
y_encoded = le.fit_transform(Y)

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y_encoded, test_size=0.2, random_state=42
)

# Create and train the model
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

# Predictions
predictions = model.predict(X_test)

# Accuracy
score = accuracy_score(y_test, predictions)
print("Accuracy:", score)

Accuracy: 1.0

In [39]:
print(le.inverse_transform(predictions))

['HipHop' 'HipHop' 'Classical' 'Jazz']

In [40]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
import joblib

# Encode the target
le = LabelEncoder()
Y_encoded = le.fit_transform(Y)

# Create and train the model
model = DecisionTreeClassifier()
model.fit(X, Y_encoded)
#joblib.dump( model, 'music-recommender.joblib')
model= joblib.load( 'music-recommender.joblib')
predictions = model.predict([[21,1]])
predictions
print(le.inverse_transform(predictions))

['HipHop']

C:\Users\DELL LATITUDE E7450\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [41]:
# how to visualize the model in graph
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.preprocessing import LabelEncoder

# Encode the target
le = LabelEncoder()
Y_encoded = le.fit_transform(Y)

# Train the model
model = DecisionTreeClassifier()
model.fit(X, Y_encoded)

# Export the decision tree
export_graphviz(
    model,
    out_file="music-recommender.dot",
    feature_names=["age", "gender"],
    class_names=le.classes_,
    filled=True,
    rounded=True,
    label="all"
)

In [43]:
#from graphviz import Source

# Read your DOT file
#with open("tree.dot") as f:
    #dot_graph = f.read()

# Show the graph in VS Code
#graph = Source(dot_graph)
#graph.view()  # Opens a new window with the tree